@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');

body {
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
}